{% extends "base.html"%}
{% block content %}
<section id="scroll">
    <h1 class="text-center pt-3">{{ page_title }}</h1>
    <div class="container px-5 text-center">
        <div class="row gx-5 align-items-center">
            <div class="col-8 offset-2">
                <div class=>
                    <h2>We can't wait to see you.</h2>
                    <p class="text-center"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p class="text-center">
                Opening Hours:

                <ul class="text-center align-items-center list-unstyled">
                    <li>Monday: 11:00 - 20:00</li>
                    <li>Tuesday: 11:00 - 20:00</li>
                    <li>Wednesday: 11:00 - 20:00</li>
                    <li>Thursday: 11:00 - 20:00</li>
                    <li>Friday: 11:00 - 20:00</li>
                    <li>Saturday: 13:00 - 23:00</li>
                    <li>Sunday: 14:00 - 20:00</li>
                </ul>
            </p>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes text-center">
                    {% for message in messages %}
                    <li><em>{{ message }}</em></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <!-- code for form taken from the flask post method lessons by CI instructor Tim Nelson -->
        <!-- Booking request form -->
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <form method="POST" name="sentMessage" id="contactForm" novalidate>
                    <!-- Name input -->
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" name="name" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <!-- Email input -->
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="email" class="form-control" placeholder="Email Address" name="email" id="email" required data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <!-- Phone no. input -->
                    <div class="control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control" placeholder="Phone Number" name="phone" id="phone" required data-validation-required-message="Please enter your phone number.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <!-- Booking date input -->
                    <div class="control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Booking Date</label>
                            <input type="date" class="form-control" placeholder="Booking Date" name="booking-date" id="booking-date" required data-validation-required-message="Please select a booking date.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <!-- Booking time input -->
                    <div class="control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Booking Time</label>
                        <br>
                        <select class="custom-select form-control" id="booking-time" name="booking-time" required>
                          <option selected>Please select a time slot.</option>
                          <option value="12:00">12:00</option>
                          <option value="12:30">12:30</option>
                          <option value="13:00">13:00</option>
                          <option value="13:30">13:30</option>
                          <option value="14:00">14:00</option>
                          <option value="14:30">14:30</option>
                          <option value="15:00">15:00</option>
                          <option value="15:30">15:30</option>
                          <option value="16:00">16:00</option>
                          <option value="16:30">16:30</option>
                          <option value="17:00">17:00</option>
                          <option value="17:30">17:30</option>
                          <option value="18:00">18:00</option>
                          <option value="18:30">18:30</option>
                          <option value="19:00">19:00</option>
                        </select>
                        </div>
                      </div>
                    <!-- Booking form submit button -->
                    <br>
                    <div id="success"></div>
                    <div class="form-group text-center pb-3">
                        <button type="submit" class="btn btn-primary" id="requestBooking">Book Now!</button>
                    </div>
                </form>
            </div>
        </div>
</section>

{% endblock %}